In [2]:
#!kaggle competitions download -c otto-recommender-system

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/darth/.kaggle/kaggle.json'
Downloading otto-recommender-system.zip to /home/darth/MLAI-projects/Otto Recommender System
100%|█████████████████████████████████████▉| 1.94G/1.94G [09:51<00:00, 3.64MB/s]
100%|██████████████████████████████████████| 1.94G/1.94G [09:51<00:00, 3.52MB/s]

In [1]:
import json
import pandas as pd
from tqdm import tqdm

# Open the JSONL file for reading
with open('data/train.jsonl', 'r') as f:
    # Initialize the dictionary to store the counts
    counts = {}
    
    # Read the file line by line
    for line in tqdm(f):
        # Parse the JSON object
        obj = json.loads(line)
        
        # Iterate over the events
        for event in obj['events']:
            # Get the aid for the event
            aid = event['aid']
            
            # If the aid is not in the dictionary yet, initialize the count to 0
            if aid not in counts:
                counts[aid] = 0
            
            # Increment the count for the aid
            counts[aid] += 1

12899779it [06:25, 33486.94it/s]

In [2]:
# Create a Pandas DataFrame from the dictionary
df = pd.DataFrame.from_dict(counts, orient='index', columns=['count'])

# Set the aid column as the index
df.index.name = 'aid'
df = df.reset_index()

df.head()
#print(df)

       aid  count
0  1517085    121
1  1563459     84
2  1309446   5811
3    16246   1646
4  1781822     51

In [3]:
# Sort the DataFrame by the count column in descending order
df = df.sort_values('count', ascending=False)

# Select the top 20 rows
top_20 = df.head(20)

# Extract the aid values from the selected rows
aids = top_20['aid'].values

print(aids)

[1460571  485256  108125   29735 1733943  832192  184976  166037  554660
  231487 1502122  986164 1603001  322370 1236775  332654 1196256  756588
 1083665  959208]

In [9]:
type(aids)

numpy.ndarray

In [11]:
string_values = [str(x) for x in aids]

# Join the list of strings with a space as the delimiter
aids_str = ' '.join(string_values)

print(aids_str)

1460571 485256 108125 29735 1733943 832192 184976 166037 554660 231487 1502122 986164 1603001 322370 1236775 332654 1196256 756588 1083665 959208

In [4]:
top_20.head()

          aid   count
6924  1460571  129004
4929   485256  126836
340    108125  118524
4010    29735  113279
2796  1733943  105091

In [18]:
df.to_csv('data/aid_counts_train.csv', index=False, header=True)

In [8]:
import pandas as pd

# Read the CSV file into a DataFrame
submit = pd.read_csv('data/sample_submission.csv')

submit.head()

      session_type                labels
0  12899779_clicks  129004 126836 118524
1   12899779_carts  129004 126836 118524
2  12899779_orders  129004 126836 118524
3  12899780_clicks  129004 126836 118524
4   12899780_carts  129004 126836 118524

In [14]:
submit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5015409 entries, 0 to 5015408
Data columns (total 2 columns):
 #   Column        Dtype
---  ------        -----
 0   session_type  object
 1   labels        object
dtypes: object(2)
memory usage: 76.5+ MB

In [15]:
submit['labels'] = aids_str
submit.head()

      session_type                                             labels
0  12899779_clicks  1460571 485256 108125 29735 1733943 832192 184...
1   12899779_carts  1460571 485256 108125 29735 1733943 832192 184...
2  12899779_orders  1460571 485256 108125 29735 1733943 832192 184...
3  12899780_clicks  1460571 485256 108125 29735 1733943 832192 184...
4   12899780_carts  1460571 485256 108125 29735 1733943 832192 184...

In [17]:
submit.shape

(5015409, 2)

In [20]:
submit.to_csv('data/submission.csv', index=False, header=True)

In [21]:
!kaggle competitions submit -c otto-recommender-system -f data/submission.csv -m "Message"

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/darth/.kaggle/kaggle.json'
100%|████████████████████████████████████████| 773M/773M [04:01<00:00, 3.36MB/s]
Successfully submitted to OTTO – Multi-Objective Recommender System